html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    display: block;  /* No floating content on sides */
}

canvas {
	display: block;
	border: 2px solid #d3d3d3;
	height: 100%;
	width: 100%;

/*
Doesn't look good.

    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(#ff0000), to(#0000cc)) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(#ff0000, #0000cc) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(#ff0000, #0000cc) 1 100%;    
    -o-border-image:
      -o-linear-gradient(#ff0000, #0000cc) 1 100%;
    border-image:
      linear-gradient(to bottom, #ff0000, #0000cc) 1 100%;

      #ececff > #ffffff2e
#9370db > #007bff
*/
}
.custom-container{
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

.center-block {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

